In [1]:
import pandas as pd
data=pd.read_csv('kindle.csv')

In [2]:
data

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000
...,...,...,...,...,...,...,...,...,...,...,...
11995,11995,2183,B001DUGORO,"[0, 0]",4,Valentine cupid is a vampire- Jena and Ian ano...,"02 28, 2014",A1OKS5Q1HD8WQC,lisa jon jung,jena,1393545600
11996,11996,6272,B002JCSFSQ,"[2, 2]",5,I have read all seven books in this series. Ap...,"05 16, 2011",AQRSPXLNEQAMA,TerryLP,Peacekeepers Series,1305504000
11997,11997,12483,B0035N1V7K,"[0, 1]",3,This book really just wasn't my cuppa. The si...,"07 26, 2013",A2T5QLT5VXOJAK,hwilson,a little creepy,1374796800
11998,11998,3640,B001W1XT40,"[1, 2]",1,"tried to use it to charge my kindle, it didn't...","09 17, 2013",A28MHD2DDY6DXB,"Allison A. Slater ""Gryphon50""",didn't work,1379376000
11999,11999,11398,B003370JUS,"[5, 6]",3,Taking Instruction is a look into the often hi...,"07 5, 2012",A3JUXLB4K9ZXCC,Dafna Yee,"If you like BDSM with a touch of romance, this...",1341446400

In [3]:
df=data[['reviewText','rating']]

In [4]:
df.shape

(12000, 2)

In [5]:
df['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [6]:
df.loc[:, 'rating'] = df['rating'].apply(lambda x: 0 if x < 3 else 1)

In [7]:
df['rating'].unique()

array([1, 0], dtype=int64)

In [8]:
df.loc[:, 'reviewText'] = df['reviewText'].str.lower()

In [9]:
df.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       1
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

In [10]:
import re

In [11]:
df.loc[:, 'reviewText']= df['reviewText'].apply(lambda x: re.sub('[^a-zA-Z0-9 ]', '', x))

In [12]:
df.head()

                                          reviewText  rating
0  jace rankin may be short but hes nothing to me...       1
1  great short read  i didnt want to put it down ...       1
2  ill start by saying this is the first of four ...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

In [13]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\si\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\si\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\si\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\si\anaconda3\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\si\anaconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\si\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [ ]:
import nltk

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stop_words = set(stopwords.words('english'))

In [ ]:
df.loc[:, 'reviewText'] = df['reviewText'].apply(lambda x: " ".join([y for y in x.split() if y.lower() not in stopwords.words('english')]))

In [ ]:
df.head()

In [ ]:
df.loc[:, 'reviewText'] = df['reviewText'].apply(lambda x:re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?',' ',str(x)))

In [ ]:
!pip install beautifulsoup4 lxml

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
df.loc[:, 'reviewText'] = df['reviewText'].apply(lambda x:BeautifulSoup(x,'lxml').get_text())

In [ ]:
df.loc[:, 'reviewText'] = df['reviewText'].apply(lambda x:" ".join(x.split()))

In [19]:
df.head()

                                          reviewText  rating
0  jace rankin may be short but hes nothing to me...       1
1  great short read  i didnt want to put it down ...       1
2  ill start by saying this is the first of four ...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

In [21]:
from nltk.stem import WordNetLemmatizer

In [30]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Si\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [31]:
lemmatizer=WordNetLemmatizer()

In [32]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [25]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Si\AppData\Roaming\nltk_data...

True

In [37]:
df.loc[:, 'reviewText'] = df['reviewText'].apply(lambda x: lemmatize_words(x))

In [36]:
df.head()

                                          reviewText  rating
0  jace rankin may be short but he nothing to mes...       1
1  great short read i didnt want to put it down s...       1
2  ill start by saying this is the first of four ...       1
3  aggie is angela lansbury who carry pocketbook ...       1
4  i did not expect this type of book to be in li...       1

In [38]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

In [39]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Si\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [40]:
def stem_sentence(sentence):
    stemmer = PorterStemmer()
    words = word_tokenize(sentence)
    stemmed_words = [stemmer.stem(word) for word in words]
    return ' '.join(stemmed_words)

In [43]:
df.loc[:, 'reviewText'] = df['reviewText'].apply(stem_sentence)

In [44]:
df.head()

                                          reviewText  rating
0  jace rankin may be short but he noth to mess w...       1
1  great short read i didnt want to put it down s...       1
2  ill start by say thi is the first of four book...       1
3  aggi is angela lansburi who carri pocketbook i...       1
4  i did not expect thi type of book to be in lib...       1

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df['reviewText'],df['rating'],test_size=0.20)

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
bow=CountVectorizer()

In [80]:
X_train_bow=bow.fit_transform(X_train).toarray()

In [81]:
X_test_bow=bow.transform(X_test).toarray()

In [83]:
X_train_bow.shape

(9600, 30376)

In [87]:
from sklearn.naive_bayes import GaussianNB

In [88]:
nb_model_bow=GaussianNB().fit(X_train_bow,y_train)

In [89]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [90]:
y_pred_bow=nb_model_bow.predict(X_test_bow)

In [91]:
y_pred_bow

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [94]:
print("BOW accuracy is:", accuracy_score(y_test,y_pred_bow))

BOW accuracy is: 0.5516666666666666